In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import math
import matplotlib.dates as mdate
import numpy as np
import datetime as dt
from itertools import product

In [31]:
df = pd.read_csv('entsoe2015-2023.csv', index_col=0)
df = df.rename_axis('Date')
print(df)

                     IT_GR  IT_NORD_AT  IT_NORD_CH  IT_NORD_FR  IT_NORD_SI  \
Date
2015-01-01 00:00:00    NaN         NaN         NaN         NaN         NaN
2015-01-01 01:00:00    NaN         NaN         NaN         NaN         NaN
2015-01-01 02:00:00    NaN         NaN         NaN         NaN         NaN
2015-01-01 03:00:00    NaN         NaN         NaN         NaN         NaN
2015-01-01 04:00:00    NaN         NaN         NaN         NaN         NaN
...                    ...         ...         ...         ...         ...
2023-12-30 20:00:00    NaN         NaN         NaN         NaN         NaN
2023-12-30 21:00:00    NaN         NaN         NaN         NaN         NaN
2023-12-30 22:00:00    NaN         NaN         NaN         NaN         NaN
2023-12-30 23:00:00    NaN         NaN         NaN         NaN         NaN
2023-12-31 00:00:00    NaN         NaN         NaN         NaN         NaN

                     IT_SACO_AC  IT_SACO_DC     RS     EE     FI  ...  \
Date                                                              ...
2015-01-01 00:00:00         NaN         NaN    NaN  27.38  27.38  ...
2015-01-01 01:00:00         NaN         NaN    NaN  23.37  23.37  ...
2015-01-01 02:00:00         NaN         NaN    NaN  19.33  19.33  ...
2015-01-01 03:00:00         NaN         NaN    NaN  17.66  17.66  ...
2015-01-01 04:00:00         NaN         NaN    NaN  17.53  17.53  ...
...                         ...         ...    ...    ...    ...  ...
2023-12-30 20:00:00      125.35      125.35  59.84  62.01  62.01  ...
2023-12-30 21:00:00      113.29      113.29  52.70  55.14  55.14  ...
2023-12-30 22:00:00      110.00      110.00  46.06  50.10  50.10  ...
2023-12-30 23:00:00      108.62      108.62  37.50  43.23  43.23  ...
2023-12-31 00:00:00      109.12      109.12  29.85  44.87  44.87  ...

                     IT_CSUD  IT_NORD  IT_SARD  IT_SICI     AT  DE_AT_LU  \
Date
2015-01-01 00:00:00      NaN      NaN      NaN      NaN    NaN       NaN
2015-01-01 01:00:00      NaN      NaN      NaN      NaN    NaN       NaN
2015-01-01 02:00:00      NaN      NaN      NaN      NaN    NaN       NaN
2015-01-01 03:00:00      NaN      NaN      NaN      NaN    NaN       NaN
2015-01-01 04:00:00      NaN      NaN      NaN      NaN    NaN       NaN
...                      ...      ...      ...      ...    ...       ...
2023-12-30 20:00:00   125.35   125.35   125.35   125.35  62.01       NaN
2023-12-30 21:00:00   113.29   113.29   113.29   113.29  53.11       NaN
2023-12-30 22:00:00   110.00   110.00   110.00   110.00  50.10       NaN
2023-12-30 23:00:00   108.62   108.62   108.62   108.62  43.23       NaN
2023-12-31 00:00:00   109.12   109.12   109.12   109.12  34.32       NaN

                     DE_LU   DK_1   DK_2   GB
Date
2015-01-01 00:00:00    NaN  25.02  27.38  0.0
2015-01-01 01:00:00    NaN  18.29  18.29  0.0
2015-01-01 02:00:00    NaN  16.04  16.04  0.0
2015-01-01 03:00:00    NaN  14.60  14.60  0.0
2015-01-01 04:00:00    NaN  14.95  14.95  0.0
...                    ...    ...    ...  ...
2023-12-30 20:00:00  62.01  62.01  62.01  NaN
2023-12-30 21:00:00  56.36  57.64  55.14  NaN
2023-12-30 22:00:00  50.10  59.24  50.10  NaN
2023-12-30 23:00:00  43.23  43.23  43.23  NaN
2023-12-31 00:00:00  36.54  44.87  44.87  NaN

[78865 rows x 52 columns]

Until 2018, the energy price market had a joint trading zone between Austria, Germany and Luxembourg. After 2018, a separate market appeared in Austria. So we need to merge the columns for them.

In [32]:
df.index = pd.to_datetime(df.index)
df['Year'] = df.index.year
df['Combined_AT_DE_AT_LU'] = df.apply(lambda row: row['DE_AT_LU'] if row['Year'] <= 2018 else row['AT'], axis=1)
df['Combined_DE_LU_DE_AT_LU'] = df.apply(lambda row: row['DE_AT_LU'] if row['Year'] <= 2018 else row['DE_LU'], axis=1)

In [33]:
exclude_columns = ['DE_AT_LU', 'AT', 'DE_LU', 'Н']
df.drop(columns=exclude_columns, inplace=True)
print(df)

                     IT_GR  IT_NORD_AT  IT_NORD_CH  IT_NORD_FR  IT_NORD_SI  \
Date
2015-01-01 00:00:00    NaN         NaN         NaN         NaN         NaN
2015-01-01 01:00:00    NaN         NaN         NaN         NaN         NaN
2015-01-01 02:00:00    NaN         NaN         NaN         NaN         NaN
2015-01-01 03:00:00    NaN         NaN         NaN         NaN         NaN
2015-01-01 04:00:00    NaN         NaN         NaN         NaN         NaN
...                    ...         ...         ...         ...         ...
2023-12-30 20:00:00    NaN         NaN         NaN         NaN         NaN
2023-12-30 21:00:00    NaN         NaN         NaN         NaN         NaN
2023-12-30 22:00:00    NaN         NaN         NaN         NaN         NaN
2023-12-30 23:00:00    NaN         NaN         NaN         NaN         NaN
2023-12-31 00:00:00    NaN         NaN         NaN         NaN         NaN

                     IT_SACO_AC  IT_SACO_DC     RS     EE     FI  ...  \
Date                                                              ...
2015-01-01 00:00:00         NaN         NaN    NaN  27.38  27.38  ...
2015-01-01 01:00:00         NaN         NaN    NaN  23.37  23.37  ...
2015-01-01 02:00:00         NaN         NaN    NaN  19.33  19.33  ...
2015-01-01 03:00:00         NaN         NaN    NaN  17.66  17.66  ...
2015-01-01 04:00:00         NaN         NaN    NaN  17.53  17.53  ...
...                         ...         ...    ...    ...    ...  ...
2023-12-30 20:00:00      125.35      125.35  59.84  62.01  62.01  ...
2023-12-30 21:00:00      113.29      113.29  52.70  55.14  55.14  ...
2023-12-30 22:00:00      110.00      110.00  46.06  50.10  50.10  ...
2023-12-30 23:00:00      108.62      108.62  37.50  43.23  43.23  ...
2023-12-31 00:00:00      109.12      109.12  29.85  44.87  44.87  ...

                     IT_CSUD  IT_NORD  IT_SARD  IT_SICI   DK_1   DK_2   GB  \
Date
2015-01-01 00:00:00      NaN      NaN      NaN      NaN  25.02  27.38  0.0
2015-01-01 01:00:00      NaN      NaN      NaN      NaN  18.29  18.29  0.0
2015-01-01 02:00:00      NaN      NaN      NaN      NaN  16.04  16.04  0.0
2015-01-01 03:00:00      NaN      NaN      NaN      NaN  14.60  14.60  0.0
2015-01-01 04:00:00      NaN      NaN      NaN      NaN  14.95  14.95  0.0
...                      ...      ...      ...      ...    ...    ...  ...
2023-12-30 20:00:00   125.35   125.35   125.35   125.35  62.01  62.01  NaN
2023-12-30 21:00:00   113.29   113.29   113.29   113.29  57.64  55.14  NaN
2023-12-30 22:00:00   110.00   110.00   110.00   110.00  59.24  50.10  NaN
2023-12-30 23:00:00   108.62   108.62   108.62   108.62  43.23  43.23  NaN
2023-12-31 00:00:00   109.12   109.12   109.12   109.12  44.87  44.87  NaN

                     Year  Combined_AT_DE_AT_LU  Combined_DE_LU_DE_AT_LU
Date
2015-01-01 00:00:00  2015                   NaN                      NaN
2015-01-01 01:00:00  2015                   NaN                      NaN
2015-01-01 02:00:00  2015                   NaN                      NaN
2015-01-01 03:00:00  2015                   NaN                      NaN
2015-01-01 04:00:00  2015                   NaN                      NaN
...                   ...                   ...                      ...
2023-12-30 20:00:00  2023                 62.01                    62.01
2023-12-30 21:00:00  2023                 53.11                    56.36
2023-12-30 22:00:00  2023                 50.10                    50.10
2023-12-30 23:00:00  2023                 43.23                    43.23
2023-12-31 00:00:00  2023                 34.32                    36.54

[78865 rows x 52 columns]